Package: kvm-hostcreator
Version: 1.1.3-%BUILD%
Section: universe/system
Priority: optional
Architecture: amd64
Suggests: virt-manager, numactl, hwloc
Depends: debootstrap (>=1.0.59~), gdisk, qemu-utils, e2fsprogs, lvm2,
 libvirt-clients, libvirt-daemon-system, qemu-kvm, qemu-system, virtinst, bridge-utils, ifenslave,
 ssh-askpass, kpartx, psmisc, gnupg2, fdisk, gdisk, cloud-guest-utils
Maintainer: Steffen A. Mork <linux-dev@morknet.de>
Homepage: https://morknet.de/
Description: This package provides scripts for creating KVM hosts.
